.sidebar {
  height: 100%;
  width: 18%;
  background-color: #b7202e;
  position: fixed;
  justify-content: center;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  border-radius: 0px 25px 25px 0px;
  /* background-color: rgba(210, 199, 199, 0.39); */
}
.sidebar-title,
.sidebar-title:hover {
  color: white;
  text-align: center;
}

.sidebar-item {
  width: 100%;
}
.sidebar-text {
  color: white;
  opacity: 0.6;
  font-size: 20px;
}

.sidebar-text:hover {
  color: white;
  opacity: 1;
}
.sidebar-text:active {
  color: white;
  opacity: 1;
}
.nav-link:active {
  opacity: 1;
}
